<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/advertisements'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom
              [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
           <img *ngIf="!userForm.value.avatar || userForm.value.avatar == ''" [src]="defaultAvatar">
           <img *ngIf="userForm.value.avatar && userForm.value.avatar != ''" [src]="userForm.value.avatar">
         </div>-->

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="isEditMode">
            {{advertForm.title}}
          </div>
          <div class="h2" *ngIf="!isEditMode">
            New Advertisement
          </div>
          <div class="subtitle secondary-text">
            <span>Advertisement Details</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0"
              [disabled]="advertForm.status == 'INVALID'
              || advertForm.controls.images.value.length === 0"
              (click)="f.ngSubmit.emit()" type="submit">
        <span>SAVE</span>
      </button>
      <!-- <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0"
               (click)="uploadImages(advertForm.controls.images.value)">
         <span>aa</span>
       </button>-->
      <!-- <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0"
               (click)="printt(advertForm.value)">
         <span>bb</span>
       </button>-->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <!-- CONTENT -->
      <div class="content">
        <form [formGroup]="advertForm" novalidate (ngSubmit)="onSubmit(f)" #f="ngForm" class="product w-100-p"
              fxLayout="column" fxFlex>
          <mat-tab-group (selectChange)="fixBug($event.index)">

            <mat-tab label="Basic Info">

              <div fxLayout="row" fxLayout.xs="column">
                <div class="tab-content p-24" fusePerfectScrollbar fxFlex="80%">
                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">web</mat-icon>
                    <mat-form-field class="w-100-p">
                      <input matInput formControlName="title" name="title" placeholder="Title"
                             required>
                      <mat-error *ngIf="advertForm.controls.title.invalid">{{getErrorMessage('title','required','')}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">attach_money</mat-icon>
                    <mat-form-field class="w-100-p">
                      <input matInput name="price" type="number" min="0" formControlName="price"
                             placeholder="Price" required>
                      <mat-error *ngIf="advertForm.controls.price.invalid">{{getErrorMessage('price','required','',
                        'min')}}
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">call</mat-icon>
                    <mat-form-field class="w-100-p">
                      <input type="text" formControlName="phone" matInput name="phone"
                             placeholder="Phone">
                      <mat-error *ngIf="advertForm.controls.phone.invalid">{{getErrorMessage('phone','', 'pattern',
                        '')}}
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">remove_red_eye</mat-icon>
                    <mat-form-field class="w-100-p">
                      <input matInput name="viewsCount" type="number" placeholder="Views Count" min="0"
                             formControlName="viewsCount">
                      <mat-error *ngIf="advertForm.controls.viewsCount.invalid">{{getErrorMessage('viewsCount','', '',
                        'min')}}
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">accessibility</mat-icon>
                    <mat-form-field class="w-100-p">
                      <mat-select placeholder="Status" name="status" ([value])="advertForm.value.status"
                                  formControlName="status">
                        <mat-option value="active">Active</mat-option>
                        <mat-option value="closed">Closed</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">description</mat-icon>
                    <mat-form-field class="w-100-p">
                      <textarea matInput name="description" rows="4" formControlName="description"
                                placeholder="Description" required></textarea>
                      <mat-error *ngIf="advertForm.controls.description.invalid">
                        {{getErrorMessage('description','required','', '')}}
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </mat-tab>
            <mat-tab label="Images*">
              <div class="images-tab" fxLayout="row" fxLayout.xs="column">
                <div class="images-wrapper tab-content p-24" fusePerfectScrollbar fxFlex="80%">
                  <image-upload
                    [uploadedFiles]="advertForm.controls.images.value" max="20"
                    (uploadFinished)="onUploadFinished($event)"
                    (removed)="onRemoved($event)"
                  ></image-upload>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Other Info">

              <div fxLayout="row" fxLayout.xs="column">
                <div class="tab-content p-24" fusePerfectScrollbar fxFlex="100%">
                  <!-- <div fxLayout="row" fxLayoutAlign="start start">
                     <mat-checkbox formControlName="isBookmarked" name="isBookmarked">Is Bookmarked</mat-checkbox>
                   </div>-->


                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">place</mat-icon>
                    <mat-form-field class="w-100-p">
                      <input matInput name="address" placeholder="Address" formControlName="address">
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">date_range</mat-icon>
                    <mat-form-field class="w-100-p">
                      <input matInput [matDatepicker]="picker" name="createdAt" placeholder="Created At"
                             (focus)="picker.open()" formControlName="createdAt">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">accessibility</mat-icon>
                    <mat-form-field class="w-100-p">
                      <mat-select placeholder="Owner" [(value)]="advertForm.value.ownerId" name="ownerId"
                                  formControlName="ownerId">
                        <mat-option value="">None</mat-option>
                        <mat-option *ngFor="let owner of users" [value]="owner.id">{{owner.firstName}}
                          {{owner.lastName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">location_city</mat-icon>
                    <mat-form-field class="w-100-p">
                      <mat-select placeholder="City" [(value)]="advertForm.value.cityId" name="cityId"
                                  formControlName="cityId">
                        <mat-option value="">None</mat-option>
                        <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="categories" fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mr-12 mt-12">group_work</mat-icon>
                    <mat-form-field class="w-100-p">
                      <mat-select placeholder="Category" [(value)]="advertForm.value.categoryId" name="categoryId"
                                  formControlName="categoryId">
                        <!--<mat-option value="" (click)="setSelectedCategory('')">None</mat-option>-->
                        <mat-option *ngFor="let category of categories" [value]="category.id"
                                    (click)="setSelectedCategory(category)">
                          <!--<img [src]="category.image" [alt]="category.image">-->
                          {{category.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start"
                       *ngIf="advert.category && advert.category!==null && advert.category!==''">
                    <mat-icon class="mr-12 mt-12">group_work</mat-icon>
                    <mat-form-field class="w-100-p">
                      <mat-select placeholder="Sub Category" [(value)]="advertForm.value.subCategoryId"
                                  name="subCategoryId"
                                  formControlName="subCategoryId">
                        <!--<mat-option value="" (click)="setSelectedSubCategory('')">None</mat-option>-->
                        <mat-option *ngFor="let subCategory of advert.category.subCategories" [value]="subCategory.id"
                                    (click)="setSelectedSubCategory(subCategory)">
                          {{subCategory.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div *ngIf="subCategoryFields && subCategoryFields.controls['fields']">
                    <div>
                      <h3>Sub-Category Fields</h3>
                    </div>
                    <div>
                      <div *ngIf="advertForm.value.subCategoryId" [formGroup]="subCategoryFields">
                        <mat-accordion *ngIf="showMe">
                          <div formArrayName="fields">
                            <mat-expansion-panel
                              *ngFor="let field of subCategoryFields.controls['fields'].controls; let i = index"
                              [expanded]="false">
                              <!--(click)="setSelectedFieldsPanel(field)"-->
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  <h3 class="text-bold"> {{field.value.key}}</h3>
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <div>
                                <!--1-->
                                <div formGroupName="{{i}}" fxLayout="column">
                                  <div fxLayout="row" fxLayoutGap="2rem">
                                    <button mat-icon-button>
                                      <mat-icon>subdirectory_arrow_right</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="removeSomething([{val:i, remove: true}], 'subCategoryFields')"
                                            matTooltip="Remove {{field.controls.key.value}}">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                    <mat-form-field class="w-100-p">
                                      <input matInput name="fieldkey" placeholder="Key" formControlName="key" required>
                                    </mat-form-field>
                                    <mat-form-field class="w-100-p"
                                                    *ngIf="field.controls.type.value === 'text' || field.controls.type.value === 'choose'">
                                      <input matInput name="fieldkey" placeholder="Value" formControlName="value">
                                    </mat-form-field>
                                    <mat-form-field class="w-100-p" *ngIf="field.controls.type.value === 'number'">
                                      <input type="number" matInput name="fieldkey" placeholder="Value"
                                             formControlName="value">
                                    </mat-form-field>
                                    <mat-form-field class="w-100-p">
                                      <input type="number" matInput name="fieldPriority" placeholder="Priority"
                                             formControlName="priority">
                                    </mat-form-field>
                                    <mat-form-field class="w-100-p">
                                      <mat-select placeholder="Type" name="fieldtype" formControlName="type"
                                                  ([value])="field.controls.type.value"
                                                  (change)="onSelectType([{val:i, type:'choose'}], field.controls.type.value, 'subCategoryFields')">
                                        <mat-option value="text">Text</mat-option>
                                        <mat-option value="number">Number</mat-option>
                                        <mat-option value="choose">Select</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <!--2-->
                                  <div
                                    *ngIf="field.controls.type.value === 'choose' && field.controls.values && field.controls.values.length>0"
                                    formArrayName="values" fxLayout="column">
                                    <div class="ml-32" *ngFor="let vv of field.controls.values.controls; let j = index"
                                         fxLayout="column">
                                      <div fxLayout="column" formGroupName="{{j}}">
                                        <div fxLayout="row" fxLayoutGap="2rem">
                                          <button mat-icon-button>
                                            <mat-icon>subdirectory_arrow_right</mat-icon>
                                          </button>
                                          <button mat-icon-button
                                                  (click)="removeSomething([{val: i}, {val: j, remove: true}], 'subCategoryFields')"
                                                  matTooltip="Remove {{vv.controls.value.value}}">
                                            <mat-icon>delete</mat-icon>
                                          </button>
                                          <mat-form-field class="w-100-p" fxFlex="30%">
                                            <input matInput name="fieldvalue" placeholder="Value" formControlName="value">
                                          </mat-form-field>
                                        </div>
                                      </div>
                                    </div>
                                    <button class="ml-32" type="button" mat-icon-button
                                            (click)="addSomething([{val: i, add: true}], 'subCategoryFields')"
                                            matTooltip="Add Value to {{field.controls.key.value}}">
                                      <mat-icon aria-label="add value">add</mat-icon>
                                    </button>
                                  </div>
                                </div>

                               <!-- <div formGroupName="{{i}}" fxLayout="row" fxLayoutGap="2rem" fxFlex="10%">
                                  <mat-form-field class="w-100-p">
                                    <input matInput name="fieldkey" placeholder="Field Key" formControlName="key"
                                           required>
                                  </mat-form-field>
                                  <mat-form-field class="w-100-p"
                                                  *ngIf="field.controls.type.value === 'text' || field.controls.type.value === 'choose'">
                                    <input matInput name="fieldkey" placeholder="Field Value" formControlName="value">
                                  </mat-form-field>
                                  <mat-form-field class="w-100-p"
                                                  *ngIf="field.controls.type.value === 'number'">
                                    <input type="number" matInput name="fieldkey" placeholder="Field Value"
                                           formControlName="value">
                                  </mat-form-field>
                                  <mat-form-field class="w-100-p">
                                    <mat-select placeholder="Field Type" name="fieldtype" formControlName="type"
                                                ([value])="field.controls.type.value"
                                                (change)="onSelectType([{val:i, type:'choose'}], field.controls.type.value, 'subCategoryFields')">
                                      <mat-option value="text">Text</mat-option>
                                      <mat-option value="number">Number</mat-option>
                                      <mat-option value="choose">Select</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <div fxLayout="row" fxLayoutAlign="start start">
                                    <div fxFlex="56%"
                                         *ngIf="field.value.type === 'choose' && field.value.values && field.value.values.length>0"
                                         fxLayout="column"
                                         formArrayName="values">
                                      <div *ngFor="let vv of field.controls.values.controls; let j = index ">
                                        <div fxLayout="row" formGroupName="{{j}}" fxFlex="30%" fxLayoutGap="2rem">
                                          <mat-form-field class="w-100-p">
                                            <input matInput name="fieldvalue" placeholder="Value"
                                                   formControlName="value">
                                          </mat-form-field>

                                          &lt;!&ndash;3&ndash;&gt;
                                          &lt;!&ndash;<div fxLayout="row" fxLayoutAlign="start start" fxFlex="240%">
                                            <div *ngIf="vv.controls.fields "
                                                 fxLayout="column"
                                                 formArrayName="fields">
                                              <div *ngFor="let ff of vv.controls.fields.controls; let k = index ">
                                                <div fxLayout="row" formGroupName="{{k}}" fxLayoutGap="2rem"
                                                     fxFlex="12%">
                                                  <mat-form-field class="w-100-p">
                                                    <input matInput name="ff" placeholder="Field Key"
                                                           formControlName="key">
                                                  </mat-form-field>
                                                  <mat-form-field class="w-100-p">
                                                    <mat-select name="fft" placeholder="Field Type"
                                                                formControlName="type"
                                                                ([value])="ff.controls.type.value"
                                                                (change)="onSelectType([{val:i}, {val:j}, {val:k,type:'choose'}], ff.controls.type.value,'subCategoryFields')">
                                                      <mat-option value="text">Text</mat-option>
                                                      <mat-option value="number">Number</mat-option>
                                                      <mat-option value="choose">Select</mat-option>
                                                    </mat-select>
                                                  </mat-form-field>


                                                  &lt;!&ndash;4&ndash;&gt;

                                                  <div fxLayout="row" fxLayoutAlign="start start" fxFlex="90%">
                                                    <div
                                                      *ngIf="ff.controls.type.value === 'choose' " fxLayout="column"
                                                      formArrayName="values">
                                                      <div
                                                        *ngFor="let vvv of ff.controls.values.controls; let e = index ">
                                                        <div fxLayout="row" formGroupName="{{e}}" fxFlex="25%">
                                                          <mat-form-field class="w-100-p">
                                                            <input matInput name="fieldvalue" placeholder="Value"
                                                                   formControlName="value">
                                                          </mat-form-field>
                                                          <button type="button" mat-icon-button color="warn"
                                                                  (click)="removeSomething([{val:i}, {val:j}, {val:k}, {val:e, remove:true}], 'subCategoryFields')"
                                                                  matTooltip="Remove {{vvv.controls.value.value}}">
                                                            <mat-icon aria-label="remove">delete</mat-icon>
                                                          </button>
                                                        </div>
                                                      </div>
                                                      <button matTooltip="Add Value to {{ff.controls.key.value}}"
                                                              type="button"
                                                              mat-icon-button color="warn"
                                                              (click)="addSomething([{val:i}, {val:j}, {val:k,add:true}], 'subCategoryFields')">
                                                        <mat-icon aria-label="add value">add</mat-icon>
                                                      </button>
                                                      <br/>
                                                      <br/>
                                                      <br/>
                                                      <br/>
                                                    </div>
                                                  </div>
                                                  &lt;!&ndash;/4&ndash;&gt;
                                                  <button type="button" mat-icon-button mat-raised-button color="warn"
                                                          (click)="removeSomething([{val:i},{val:j},{val:k, remove:true}], 'subCategoryFields')"
                                                          matTooltip="Remove {{ff.controls.key.value}}">
                                                    <mat-icon aria-label="remove">delete</mat-icon>
                                                  </button>
                                                </div>
                                              </div>
                                              <button matTooltip="Add Field {{vv.controls.value.value}}" type="button"
                                                      mat-raised-button
                                                      mat-icon-button color="warn"
                                                      (click)="addSomething([{val: i}, {val:j,add:true}], 'subCategoryFields')">
                                                <mat-icon aria-label="add field">add</mat-icon>
                                              </button>
                                              <br/>
                                              <br/>
                                              <br/>
                                              <br/>
                                            </div>

                                            <br/>
                                            <br/>
                                            <br/>
                                            <br/>
                                          </div>&ndash;&gt;
                                          &lt;!&ndash;/3&ndash;&gt;

                                          <button type="button" mat-raised-button mat-icon-button color="primary"
                                                  (click)="removeSomething([{val: i}, {val: j, remove: true}], 'subCategoryFields')"
                                                  matTooltip="Remove {{vv.controls.value.value}}">
                                            <mat-icon aria-label="remove">delete</mat-icon>
                                          </button>
                                        </div>
                                      </div>
                                      <button type="button" mat-raised-button mat-icon-button color="primary"
                                              (click)="addSomething([{val: i, add: true}], 'subCategoryFields')"
                                              matTooltip="Add Value to {{field.controls.key.value}}">
                                        <mat-icon aria-label="add value">add</mat-icon>
                                      </button>
                                      <br/>
                                      <br/>
                                      <br/>
                                      <br/>
                                    </div>

                                    <button type="button" mat-raised-button mat-icon-button color="accent"
                                            (click)="removeSomething([{val:i, remove: true}], 'subCategoryFields')"
                                            matTooltip="Remove {{field.controls.key.value}}">
                                      <mat-icon aria-label="remove">delete</mat-icon>
                                    </button>
                                  </div>
                                </div>-->
                              </div>
                            </mat-expansion-panel>
                          </div>

                        </mat-accordion>

                        <!--<div *ngFor="let field of advertForm.controls.fields.controls; let i = index">
                          <div [formGroupName]="i" fxLayout="row" fxLayoutGap="2rem">
                            <mat-form-field class="w-100-p" fxFlex="30%" fxFlex="20%">
                              <input matInput name="fieldkey" placeholder="Field Key" formControlName="key">
                            </mat-form-field>
                            <mat-form-field class="w-100-p" *ngIf="field.controls.type.value === 'text' || field.controls.type.value === 'choose'" fxFlex="20%">
                              <input  type="text" matInput name="fieldkey" placeholder="Field Value" formControlName="value">
                            </mat-form-field>
                            <mat-form-field class="w-100-p" *ngIf="field.controls.type.value === 'number'" fxFlex="20%">
                              <input type="number" matInput name="fieldkey" placeholder="Field Value" formControlName="value">
                            </mat-form-field>
                            <mat-form-field class="w-100-p" fxFlex="20%">
                              <mat-select placeholder="Field Type" name="fieldtype" formControlName="type"
                                          ([value])="type"
                                          (change)="selectFieldType(field.controls.type.value, field, i)">
                                <mat-option value="text">Text</mat-option>
                                <mat-option value="number">Number</mat-option>
                                <mat-option value="choose">Select</mat-option>
                              </mat-select>
                            </mat-form-field>
                            &lt;!&ndash;<div fxLayout="column">&ndash;&gt;

                              <div  *ngIf="field.controls.type.value === 'choose' && field.controls.values" fxLayout="column"
                                    formArrayName="values">
                                <div  *ngFor="let vv of field.controls.values.controls; let j = index ">
                                  <div fxLayout="row">
                                    <mat-form-field class="w-100-p">
                                      <input matInput name="fieldvalue" placeholder="Value" [formControlName]="j">
                                    </mat-form-field>
                                    <button type="button" mat-icon-button color="warn" (click)="removeValue(i, j)">
                                      <mat-icon aria-label="remove">close</mat-icon>
                                    </button>
                                  </div>
                                </div>

                                <button type="button" mat-icon-button color="accent" (click)="addValue(i)">
                                   <mat-icon aria-label="addd">add</mat-icon>
                                </button>
                              </div>
                            &lt;!&ndash;</div>&ndash;&gt;
                            <button type="button" mat-icon-button color="warn" (click)="removeField(i)">
                              <mat-icon aria-label="remove">close</mat-icon>
                            </button>
                          </div>

                        </div>-->
                      </div>
                      <button *ngIf="advert.subCategory" type="button" mat-icon-button
                              (click)="addSomething(null, 'subCategoryFields')"
                              matTooltip="Add Field to the Sub-Category {{advert.subCategory.title}}">
                        <mat-icon aria-label="add field">add</mat-icon>
                      </button>
                    </div>
                  </div>


                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>

        <!--<pre> {{advertForm.value | json}} </pre>-->
        <!-- / CONTENT -->

      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
</div>
